<% provide :title, "#{@user.pen_name}'s Profile" %>

<h3><%= yield :title %></h3>

<table class="table">
  <tr><td><b>Pen Name:</b></td><td><%= @user.pen_name %></td></tr>
  <tr><td><b>Email:</b></td><td><%= @user.email %></td></tr>
  <tr><td><b>Member Since:</b></td><td><%= @user.created_at.localtime.strftime("%x") %></td></tr>
</table>