<% provide :title, "#{@story.try(:title)}" %>
<i><%= "Genre: #{@story.try(:genre).try(:name)}" %></i><br>
<i><%= "Word count: #{@story.word_count}" %></i><br><br>

<body>
  <%= @story.text %>

</body>
<br><br>

<p><%= link_to 'Home', root_url, :class => 'btn btn-primary' %></p>
