<% provide :title, "#{@story.title}" %>
<i><%= "Genre: #{@story.genre.name}" %></i><br>
<i><%= "Word count: #{@story.word_count}" %></i><br><br>

<body>
  <%= @story.text %>

</body>
<br><br>

<p><%= link_to 'Home', stories_path, :class => 'btn btn-primary' %></p>