<footer id="page_footer">
  <ul>
    <li><%= link_to "Contact", "" %></li>
    <li><%= link_to "Help", "" %></li>
    <li><%= link_to "Complain!", "" %></li>
  </ul>
  <p>&copy; 2013 Fiction Gun Studios, All Rights Reserved.</p>
</footer>